@model inmobiliaria_Lorenzo.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto center" >
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Administrador"))
            {
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select class="form-control" name="Rol">
                        @foreach (var rol in (IDictionary<int, string>)ViewBag.Roles)
                        {
                            @:<option @(rol.Key == Model.Rol ? "selected" : "") value="@rol.Key">@rol.Value</option>
                        }
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select class="form-control" name="Rol">
                        <option value="@Model.Rol" selected>@Model.RolNombre</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            }
            <div class="form-group my-2">
                <label asp-for="Avatar" class="control-label"></label>
                <input type="file" name="AvatarFile" />
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
                @if (Model.Avatar != "")
                {
                    <div class="form-group my-2">
                        <img width="50" src="@Model.Avatar" />
                    </div>
                }
                else
                {
                    <div class="form-group my-2">
                        <p>Sin avatar</p>
                    </div>
                }

                <input asp-for="Avatar" class="form-control" type="hidden" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Administrador"))
    {

        <a asp-action="Index">Volver atrás</a>
    }
    else
    {
        <a asp-action="Details" asp-route-id=@User.Identity.Name>Volver atrás</a>
    }
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}