@model inmobiliaria_Lorenzo.Models.Contrato

@{
    ViewData["Title"] = "Detalles de contrato";
}

<h1>Detalles de contrato</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class="col-sm-10">
            @(Model.FechaDesde.Date.ToString("dd/MM/yyyy"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class="col-sm-10">
            @(Model.FechaHasta.Date.ToString("dd/MM/yyyy"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAlquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoAlquiler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class="col-sm-10">
            @(Model.Inmueble.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class="col-sm-10">
            @(Model.Inquilino.Nombre+" "+Model.Inquilino.Apellido)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Volver atrás</a>
</div>